@import "./variables";

.topbar {
    width: 100%;
    height: 43px;
    font-size: 21px;
    background-color: $whiteColor;
    font-family: InterUI;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.02);
    
    p {
        margin-left: 18px;
        padding: 13px 0 9px;
    }
}

* {
    margin: 0;
    padding: 0%;
}

body {
    background-color: $defaultColor;
}