@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;800;900&family=Roboto:wght@500&display=swap');


// font
$arielFont: Arial, Helvetica, sans-serif;
$robotoFont: 'Roboto', Medium 500;

// colors
$whiteColor: #ffffff;
$defaultColor: #f9fafb;
$iconColor: #9ea4b6;

// add customer button variables
$button-size: 40px;
$button-color: #407cff;
$button-hover-color: #0056b3;
$button-font-size: 25px;